.landing-wrapper {
  background: black;
  color: white;
  animation: fadeInPage 0.6s ease forwards;
}

.container {
  max-width: 1220px;
  margin: 0 auto;
}

/* Purple Divider */
.purple-divider {
  position: relative;
  height: 100px;
  background: black;
  overflow: hidden;
}

.purple-divider::before {
  content: "";
  position: absolute;
  top: 85%;
  left: 50%;
  transform: translateX(-50%);
  width: 160%;
  height: 120px;
  border-radius: 50%;
  background: linear-gradient(
    90deg,
    #ff0057 0%,
    #e50914 30%,
    #a100ff 70%,
    #0047ff 100%
  );
}

.purple-divider::after {
  content: "";
  position: absolute;
  top: -50px;
  left: 50%;
  transform: translateX(-50%);
  width: 160%;
  height: 110px;
  border-radius: 50%;
  background: black;
}

@keyframes fadeInPage {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* @media (max-width: 1340px) {
  .container {
    margin: 0 80px;
  }
}

@media (max-width: 1024px) {
  .container {
    margin: 0 60px;
  }
}

@media (max-width: 768px) {
  .container {
    margin: 0 40px;
  }
}

@media (max-width: 460px) {
  .container {
    margin: 0 20px;
  }
} */